section.card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
form{
  margin-bottom: 30px;
}
.card {
  box-shadow: 0px 3px 1px aliceblue;
  height: 141px;
  padding: 10px;
  border: 1px solid aliceblue;
  position: relative;
  width: 200px;
  background: #80ff7f;
  border-radius: 12px;
}
span.edit, span.delete {
  padding: 5px;
  border: 1px solid;
  border-color: grey;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  background-color: black;
  font-family:Arial, Helvetica, sans-serif;
}
.action-section {
  position: absolute;
  right: 9px;
  top: 14px;
}
span.edit:hover, span.delete:hover{
  background-color: aqua;
  color: white;
}